beautifulsoup4==4.9.0
Django==2.1.15
django-appconf==1.0.4
django-bootstrap4==1.1.1
django-extensions==2.2.9
django-imagekit==4.0.2
Faker==4.1.0
pilkit==2.0
Pillow==9.0.1
python-dateutil==2.8.1
pytz==2020.1
six==1.14.0
soupsieve==2.0
text-unidecode==1.3
