/* 01_nav.css */
/* 아래에 코드를 작성해 주세요. */
nav{
    position: fixed;
    top: 0;
    height: 80px;
    width: 100%;
    min-width: 500px;
    background-color: grey;
}
.nav-logo{
    display: inline-block;
    width: 20%;
    height: 80px;
}
.logo{
    max-height: 100%;
    width: auto;
}
nav:after{
    content: "";
    display: block;
    clear: both;
}
.nav-items{
    float: right;
    margin-right: 1vw;
    padding: 0;
    line-height: 80px;
}
.nav-item{
    display: inline-block;
    margin: 0px 16px;
}
.nav-item a{
    text-align: center;
    color: white;
    text-decoration: none;
}
.nav-item a:hover{
    color: rgba(228, 152, 66, 0.918);
}