/* 04_community.css */
/* 아래에 코드를 작성해 주세요. */
.main{
    margin: 80px auto 60px;
    width: 720px;
    height: auto;
}
#deco-line{
    margin: 3% auto 7%;
    width: 100px;
    border-top: 3px solid #FEBF08;
}
h1{
    text-align: center;
}
.user{
    float: right;
    margin-bottom: 3%;
}
article::after{
    content: "";
    display: block;
    clear: both;
}
article{
    margin-top: 5%;
    border-bottom: 2px solid #d3d3d3da;
}
.movie-title{
    display: inline-block;
    margin-top: 2%;
}
.writing-time{
    margin-left: 10px;
    color: gray;
}