*{
    margin: 0;
    padding: 0;
}

body{
    margin-top: 25vh;
    width: 100vw;
    color: white;
    text-align: center;
    background-color: #959a9e8e;
}

#clock {
    font-size: 80px;
    margin-bottom: 50px;
    
}

.form{
    display: none;
}
.greetings {
    display: none;
    font-size: 50px;
}
input{
    padding: 10px 20px;
    font-size: 30px;
    color: white;
    font-weight: bold;
    border: none;
    border-bottom: 4px solid white;
    background-color: rgba(75, 74, 74, 0);
    margin: 30px 0;
}

input:focus{
    outline: none;
}

input:focus::-webkit-input-placeholder{
    color: transparent;  
}

input::placeholder{
    color: white;
    font-weight: bold;
    font-size: 30px;
}

.showing {
    display: block;
}


li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 30px;
}

button{
    margin-left: 15px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgba(128, 128, 128, 0.418);
    color: white;
}

button:hover{
    cursor: pointer;
    background-color: rgba(128, 128, 128, 1);
}

.weather {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.3;
    }
}

.bgImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: fadeIn .5s linear;
    opacity: 0.4;
}