{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
<div class="row">
  <div class="col-12 d-flex justify-content-center">
    <h1>{{ vote.question }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-5 d-flex justify-content-center">
    <p>보기 1 : {{ vote.choice1.choice_text1 }} ({{ vote.choice1.count }}명)</p>
  </div>
  <div class="col-2 d-flex justify-content-center">
    <p>VS</p>
  </div>
  <div class="col-5 d-flex justify-content-center">
    <p>보기 2 : {{ vote.choice2.choice_text2 }} ({{ vote.choice2.count }}명)</p>
  </div>
  <div class="col-5 d-flex justify-content-center">
    <p>{{ choice1_rate }}%</p>
  </div>
  <div class="offset-2 col-5 d-flex justify-content-center">
    <p>{{ choice2_rate }}%</p>
  </div>
</div>


<h6>댓글 목록</h6>
<hr>
{% for comment in vote.comment_set.all %}
<div class="input-group p-auto">
  <p class="mb-0 mr-3">{{ comment.choice }}</p>
  <p class="mb-0 mr-3">{{ comment.content }}</p>
</div>
<hr>
{% endfor %}
{% if request.user.is_authenticated %}
  <form class="" action="{% url 'votes:comment_create' vote.pk %}" method="POST">
    {% csrf_token %}
    {% bootstrap_form comment_form %}
    <button type="submit" class="btn btn-secondary offset-10 col-2">댓글 작성</button>
  </form>
{% endif %}
{% endblock %}
