{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
    <form action="" method="POST">
        {% csrf_token %}
        {% bootstrap_form review_form %}
        <div class="d-flex justify-content-end">
        {% if request.resolver_match.url_name == 'create' %}
            <button class="btn btn-danger">작성하기</button>
        {% else %}
            <button class="btn btn-danger">수정하기</button>
        {% endif %}
        </div>


    </form>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

{% endblock %}