{% extends 'base.html' %}
{% load bootstrap4 %}
{% load bootstrap_pagination %}

{% load static %}

{% block css %}
	<link rel="stylesheet" href="{% static 'movies/css/index.css' %}">
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-8">
    <h1 class="mt-5 font-weight-bold">Popular on Netflex</h1>
  </div>
  <div class="col-4 d-flex justify-content-end">
    <a href="{% url 'movies:popular' %}" class="link-text text-decoration-none"><h3 class="mt-5 font-weight-bold">전체보기</h1></a>
  </div>
</div>
<div class="main d-flex justify-content-center">
  <div class="row d-flex justify-content-center">
    <div class="row-inner">
      {% for movie in movies|slice:":4" %}
        <div class="tile col-3">
            <div class="tile-media">
              <a href="{% url 'movies:movie_detail' movie.pk %}"><img src="https://image.tmdb.org/t/p/w185/{{ movie.poster_path }}"></a>
            </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
<div class="main d-flex justify-content-center">
  <div class="row d-flex justify-content-center">
    <div class="row-inner">
      {% for movie in movies|slice:"4:8" %}
        <div class="tile col-3">
            <div class="tile-media">
              <a href="{% url 'movies:movie_detail' movie.pk %}"><img src="https://image.tmdb.org/t/p/w185/{{ movie.poster_path }}"></a>
            </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% if user.is_authenticated%}
{% if recommendation_movies %}
  <h1 class="mt-5 font-weight-bold">{{ request.user }}님께 추천하는 영화</h1>
  <div class="main d-flex justify-content-center">
    <div class="row d-flex justify-content-center">
      <div class="row-inner">
        {% for movie in recommendation_movies|slice:":4" %}
          <div class="tile col-3">
              <div class="tile-media">
                <a href="{% url 'movies:movie_detail' movie.pk %}"><img src="https://image.tmdb.org/t/p/w185/{{ movie.poster_path }}"></a>
              </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="main d-flex justify-content-center">
    <div class="row d-flex justify-content-center">
      <div class="row-inner">
        {% for movie in recommendation_movies|slice:"4:8" %}
          <div class="tile col-3">
              <div class="tile-media">
                <a href="{% url 'movies:movie_detail' movie.pk %}"><img src="https://image.tmdb.org/t/p/w185/{{ movie.poster_path }}"></a>
              </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endif %}
{% endif %}
{% endblock %}