/* 초기화 */
body {
  margin: 0;
}

nav {
  padding: 1rem;
  background-color: gainsboro;
}

/* nav 하위요소 중  모든 a 태그 스타일링 제거*/
/* 일반적으로는 nav-link 같은 class를 만들어서 모든 a tag에 적용 */
nav a {
  color: black;
  text-decoration: none;
}

.nav::after {
  content: '';
  display: block;
  clear: right;
}

.nav-logo {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav-items {
  float: right;
  margin: 0;
}

.nav-item {
  display: inline;
}

#cover {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  background-image: url('images/bicycles.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.cover-title {
  color: white;
  font-size: 2.5rem;
  text-align: center;
}

#main {
  text-align: center;
}