/* 아래애 자유롭게 꾸며 주세요! */

* {
  box-sizing: border-box;
}

/* form에 너비를 주면, block 레벨 요소이기에 마진이 자동으로 생깁니다.
블록 레벨 요소는 좌우 margin을 auto로 지정하여 가운데 정렬을 합니다.
*/
form {
  width: 400px;
  margin: 0 auto;
  padding: 1rem;
  border: 1px solid gray;
}

/* inline -> block 개행 */
input {
  display: block;
  width: 100%;
  /* 0.5rem -> 16px * 1/2 = 8px */
  margin-top: 0.5rem;
  padding: 0.5rem;
}

.form-control {
  /* 상하/좌우 */
  margin: 0.5rem 0;
}

.help-text {
  font-size: 12px;
  color: gray;
}

label.required::after {
  content: "*";
  color: red;
}

.btn {
  width: 100%;
  border: 1px solid;
  padding: .5rem;
  background-color: cadetblue;
}

.btn:hover {
  cursor: pointer;
  filter: brightness(0.8);
  transition: filter 1s ease-in-out;
}